body{ 

    background-color: #ffc0cb;
}

.carousel-inner{
    max-height: 500px;
}

section{
    margin-top: 50px;
}

.titulo{
    text-align: center;
}

.sobre{
    align-items: center;
}